<app-loading-spinner *ngIf="showSpinnerArticle"></app-loading-spinner>

<div *ngIf="article">
	<div class="article-container">
		<div class="expanded">
			<div class="small-12 medium-9 columns">
				<a routerLink="#">{{ article.title }}</a><br>
				<p class="articleInfo">Author: <a routerLink="/show/articles/{{ article.author }}">{{ article.author }}</a> | Published: {{ article.createdAt| date : 'yyyy-MM-dd' }} <i>({{ article.createdAt| date : ' HH:mm' }})</i></p>
				<a routerLink="/edit/{{ article._id }}" class="btns">Edit Article</a><a (click)="deleteArticle(article._id)" class="btns">Delete Article</a>				
				<p>{{ article.content }}</p>
			</div>

		</div>
	</div>
</div>