<app-loading-spinner *ngIf="showSpinnerArticle"></app-loading-spinner>

<app-user-info></app-user-info>

<div class="articlesList section-heading">
	<span class="page-title">Article</span>
</div>

<div *ngIf="article">
	<div class="article-container" id="artContainer">
		<div class="expanded">
			<div class="small-12 medium-12 columns">
				<a id="artTitle">{{ article.title }}</a><br>
				<p class="articleInfo">Category: <a routerLink="/articles/category/{{ article.category }}" class="article-info">{{ article.category }}</a> <span class="">|</span> Author: <a routerLink="/articles/author/{{ article.author }}" class="article-info">{{ article.author }}</a> <span class="">|</span> <span class="accent"></span>Published: <span class="accent article-info"> {{ article.createdAt| date : 'yyyy-MM-dd' }} <i>({{ article.createdAt| date : 'HH:mm' }})</i></span><span *ngIf="article.createdAt != article.updatedAt">  | Updated: <span class="accent article-info" >{{ article.updatedAt| date : 'yyyy-MM-dd' }} <i>({{ article.updatedAt| date : 'HH:mm' }})</i></span></span></p>
				<p class="description">{{ article.description }}</p>
				<span *ngIf="isAuthor"><a routerLink="/edit/{{ article._id }}" class="general-btn article-btn">Edit Article</a><a (click)="deleteArticle(article._id)" class="general-btn article-btn">Delete Article</a></span>
				<div class="content" [froalaView]="article.content"></div>
			</div>
		</div>
	</div>
</div>
