<div class="articlesList section-heading">
	<span class="page-title">Login</span>
</div>
    
<div class="login-container articlesList">
  <div class="loginform">
    <form [formGroup]="loginFrm" (ngSubmit)="onSubmit(loginFrm.value)" *ngIf="loginFrm">
      <label>Username
        <input type="text" name="username" placeholder="username" required [formControl]="loginFrm.controls['username']" formControlName="username">
      </label>
      <label>Password
          <input type="password" name="password" placeholder="password" required [formControl]="loginFrm.controls['password']" formControlName="password">
      </label>

      <input type="submit" class="cta-btn filled" value="Submit" [disabled]="!loginFrm.valid">
    </form>
  </div>
</div>
