/* You can add global styles to this file, and also import other style files */
body {
    background-color:#F1F1F1;
    padding: 4em 0;
    font-family: 'Raleway';
    min-width: 300px;
}
.article-container {
    background:#fff;
    /*border-left: 10px solid #093F68;*/
    padding: 2em 0;
    margin-bottom: 1rem;
}

.article-container a {
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1em;
    color: #0099FF;
}

.articleInfo a {
    color: #737373;
    font-size: .8em;
}

.article-container p {
    color: #737373;
}

.content {
    width: 50%;
    margin: 0 auto;
}
@media only screen and (max-width: 599px) {
    .content {
        width: 100%;
    }

    .articlesList {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    .content {
        width: 100%;
    }

    .articlesList {
        width: 100%;
    }
}

@media only screen and (min-width: 900px) {
    .content {
        width: 100%;
    }

    .articlesList {
        width: 100%;
        max-width: 900px;
    }
}

@media only screen and (min-width: 1080px) {
    .content {
        width: 1080px;
    }

    .articlesList {
        width: 70%;
        min-width: 900px;
        max-width: 100%;
    }
}

@media only screen and (min-width: 1400px) {
    .content {
        width: 1200px;
    }
}

@media only screen and (min-width: 1800px) and (min-height: 1012px) {
    .content {
        width: 1600px;
    }
}

@media only screen and (min-width: 2100px)  and (min-height: 1181px) {
    .content {
        width: 2100px;
    }
}
