.description {
    font-size: 0.8em;
}

.filters{
    display: inline-block;
    padding: 5px;
}

.filterButtons {
    background-color: transparent;
	padding: 5.6px 9.6px;
    margin: 0px 0 10px 5px;
	display: inline-block;
}

.filterButtons:hover {
    background-color: #fff;
}

.articlesList h4 {
    margin-left: 10px;
}

.catheading {
    display: inline-block;
}

#catFilterBtnAll {
    border: 2px solid #0099FF;
}

.articlesList, .user-info {
    display: block;
    margin: 0 auto;
}

.filtersContainer {
    margin-top: .5em;
}